/// Detail Page Content Layout /////////////////////////////////////////////////
////////////////////

.content__book {
  grid-row: content-start / content-end;
  min-height: calc(100vh - 27.5rem);
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  row-gap: 1rem;
  column-gap: 2rem;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 2rem;

  @media only screen and (max-width: $bp-small) {
    column-gap: 1.5rem;
    padding: 0 0.5rem;
  }
}

///// Components -->

.back {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;

  &::before,
  &::after {
    content: "";
    background-color: var(--color-grey-dark-3);
    height: 1px;
    width: 40%;
    align-self: center;
  }

  &::before {
    margin-right: 3rem;
  }

  &::after {
    margin-left: 3rem;
  }

  &__btn {
    height: 4rem;
    width: 4rem;
    fill: var(--color-grey-dark-2);
    transition: all 0.2s;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium-small) {
      height: 3.5rem;
      width: 3.5rem;
    }

    &:hover {
      fill: var(--color-primary);
      transform: translateY(-1px);
    }

    &:active {
      fill: var(--color-primary-dark);
    }
  }
}

.img {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  justify-self: end;
  overflow: hidden;
  align-content: start;

  height: 26rem;
  width: 20rem;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    align-self: center;
  }
}

.detail {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 0 3rem;
  padding-right: 3rem;

  display: flex;
  flex-direction: column;
  align-content: flex-end;
  max-width: 30rem;

  @media only screen and (max-width: $bp-medium) {
    padding-right: 0;
    max-width: 25rem;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding: 0;
    max-width: 22rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
  }
}

.rating {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 0.25rem 0;
  justify-self: center;
  width: 50%;

  border: 1px solid var(--color-grey-dark-3);
  border-radius: 3px;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-medium-small) {
    flex-direction: column;
    justify-content: center;
  }

  &:hover {
    border: 1px solid var(--color-primary-light);
    background-color: white;
  }

  &__text {
    padding-left: 1rem;
  }
}

/// Star ratings Mini Component ///

.rate {
  align-items: center;
  padding-right: 0.5rem;
}

.rate:not(:checked) > input {
  position: absolute;
  //top:-9999px;
  visibility: hidden;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  //content: '★  ';
  content: " \2605 ";
  padding-right: 2rem;
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
  transition: all 0.4s;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
  transition: all 0.4s;
}

//////////

.add {
  background-color: white;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 1rem 0;
  //min-width: 20rem;
  width: 50%;

  cursor: pointer;

  border: 1px solid var(--color-grey-dark-3);
  border-radius: 3px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    border: 1px solid rgb(51, 201, 71);
  }

  &:hover svg {
    fill: rgb(51, 201, 71);
  }

  &:active {
    background-color: var(--color-grey-dark-1);
    color: rgb(51, 201, 71);
  }

  &__text {
    padding: 0 1rem;
    padding-right: 2rem;
  }

  svg {
    height: 2.75rem;
    width: 2.75rem;
    fill: var(--color-grey-dark-3);
    padding-right: 1rem;
  }
}

.remove {
  background-color: white;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 1rem 0;
  //min-width: 20rem;
  width: 50%;

  cursor: pointer;

  border: 1px solid var(--color-grey-dark-3);
  border-radius: 3px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    border: 1px solid red;
  }

  &:hover svg {
    fill: red;
  }

  &:active {
    background-color: var(--color-grey-dark-1);
    color: red;
  }

  &__text {
    padding: 0 1rem;
    padding-right: 2rem;
  }

  svg {
    height: 2.75rem;
    width: 2.75rem;
    fill: var(--color-grey-dark-3);
    padding-right: 1rem;
  }
}
