:root {
  --color-primary: #b9b715;
  --color-primary-light: #e2df23;
  --color-primary-dark: #88860c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 55%;
  }
}

a:link {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh-6rem);
}

.container {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  margin: 2rem auto;
  width: 85vw;
  border-radius: 4px;
  display: grid;
  grid-template-rows: [top-start] min-content [top-end content-start] min-content [content-end footer-start] min-content [footer-end];
  gap: 1rem;
  overflow: hidden;
  align-content: center;
}
@media only screen and (max-width: 43.75em) {
  .container {
    margin: 0 0;
    width: 100vw;
    border-radius: 0;
  }
}

.header {
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  grid-row: top-start / top-end;
  padding: 2rem 2rem;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  justify-items: center;
}

.footer {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-dark-1);
  color: white;
  grid-row: footer-start / footer-end;
}

.content {
  grid-row: content-start / content-end;
  display: grid;
  grid-template-rows: max-content min-content max-content;
  gap: 2rem;
  justify-items: center;
  align-content: center;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: black;
  grid-row: 1;
  cursor: pointer;
  transition: all 0.2s;
}
.logo:hover svg {
  transform: translateY(5px);
  fill: var(--color-primary);
}
.logo svg {
  text-align: center;
  height: 3rem;
  width: 3rem;
  transition: all 0.2s;
}

.sign-out {
  grid-row: 1;
  display: flex;
}

.sign-out__btn {
  justify-self: end;
}

.search-bar {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 26rem;
  width: 50%;
  margin-right: 1.75rem;
}
@media only screen and (max-width: 43.75em) {
  .search-bar {
    width: 90%;
    min-width: 30rem;
    grid-row: 2;
    grid-column: 1 / 3;
    padding-top: 1.75rem;
  }
}
.search-bar__input {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  border: none;
  background-color: var(--color-grey-light-2);
  border-radius: 10px;
  padding: 0.7rem 2rem;
  transition: all 0.2s;
  margin-right: -3.5rem;
  width: 85%;
}
.search-bar__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}
.search-bar__input:active {
  outline: none;
}
.search-bar__input:focus + .search-bar__icon {
  background-color: var(--color-grey-light-3);
}
.search-bar__btn {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search-bar__btn:focus {
  outline: none;
}
.search-bar__btn:active {
  transform: translateY(2px);
}
.search-bar__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-2);
}

.sort {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.sort__menu {
  padding-right: 1rem;
  padding: 0.5rem;
}

.library {
  min-height: calc(100vh - 40.75rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  padding: 0 2rem;
  width: 100%;
  justify-items: center;
}
.library__book {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 28rem;
  overflow: hidden;
  transition: all 0.2s;
}
.library__book:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  color: var(--color-primary-dark);
}
.library__book:hover .library__book__img-container > img {
  width: 110%;
}
.library__book__img-container {
  width: 100%;
  height: 65%;
  overflow: hidden;
  display: flex;
  transition: all 0.2s;
  justify-content: center;
}
.library__book__img-container img {
  align-self: center;
  justify-self: center;
  width: 100%;
  transition: all 0.2s;
}
.library__book__title {
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}
.library__book__rating {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.library__book__rating__star {
  color: #ffc700;
  font-size: 2.6rem;
}

.pages {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}
.pages__current {
  padding-left: 1.4rem;
  padding-right: 0.7rem;
}

.btn {
  max-width: max-content;
  background-color: white;
  border: 1px solid var(--color-grey-dark-3);
  padding: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover,
.btn:active {
  outline: none;
}
.btn:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
.btn:active {
  background-color: var(--color-grey-dark-1);
  color: white;
}

.circle-btn {
  height: 2.8rem;
  width: 2.8rem;
  padding-left: 0.7rem;
  fill: var(--color-grey-dark-2);
  transition: all 0.2s;
  cursor: pointer;
}
.circle-btn:hover {
  fill: var(--color-primary);
  transform: translateY(-1px);
}
.circle-btn:active {
  fill: var(--color-primary-dark);
}

.total {
  background-color: var(--color-grey-dark-2);
  border-radius: 4px;
  padding: 0rem 1rem;
  width: max-content;
}

.content__sign-in {
  min-height: calc(100vh - 4rem);
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  overflow: hidden;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./assets/library.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20%, 100% 0, 100% 60rem, 0 100%);
}

.logo__sign-in {
  padding-bottom: 3rem;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: white;
  grid-row: 1;
  cursor: pointer;
  transition: all 0.2s;
}
.logo__sign-in:hover svg {
  transform: translateY(5px);
  fill: var(--color-primary);
}
.logo__sign-in svg {
  text-align: center;
  height: 3rem;
  width: 3rem;
  transition: all 0.2s;
  fill: white;
}

.login {
  margin: 1rem;
  width: 50%;
  max-width: 22rem;
  min-width: 15rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
@media only screen and (max-width: 43.75em) {
  .login {
    font-size: 1.1rem;
  }
}
.login svg {
  height: 2rem;
  width: 2rem;
  transition: all 0.2s;
}

.login:hover .google__svg {
  fill: red;
}

.login:hover .guest__svg {
  fill: #505057;
}

.sign-in-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content__book {
  grid-row: content-start / content-end;
  min-height: calc(100vh - 27.5rem);
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  row-gap: 1rem;
  column-gap: 2rem;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .content__book {
    column-gap: 1.5rem;
    padding: 0 0.5rem;
  }
}

.back {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;
}
.back::before,
.back::after {
  content: "";
  background-color: var(--color-grey-dark-3);
  height: 1px;
  width: 40%;
  align-self: center;
}
.back::before {
  margin-right: 3rem;
}
.back::after {
  margin-left: 3rem;
}
.back__btn {
  height: 4rem;
  width: 4rem;
  fill: var(--color-grey-dark-2);
  transition: all 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 43.75em) {
  .back__btn {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.back__btn:hover {
  fill: var(--color-primary);
  transform: translateY(-1px);
}
.back__btn:active {
  fill: var(--color-primary-dark);
}

.img {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  overflow: hidden;
  align-content: start;
  height: 26rem;
  width: 20rem;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}
.img img {
  width: 100%;
  align-self: center;
}

.detail {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 0 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  max-width: 30rem;
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding-right: 0;
    max-width: 25rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .detail {
    padding: 0;
    max-width: 22rem;
  }
}
.detail__title {
  font-size: 2rem;
  font-weight: 600;
}

.rating {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 0.25rem 0;
  justify-self: center;
  width: 50%;
  border: 1px solid var(--color-grey-dark-3);
  border-radius: 3px;
  transition: all 0.2s;
}
@media only screen and (max-width: 43.75em) {
  .rating {
    flex-direction: column;
    justify-content: center;
  }
}
.rating:hover {
  border: 1px solid var(--color-primary-light);
  background-color: white;
}
.rating__text {
  padding-left: 1rem;
}

.rate {
  align-items: center;
  padding-right: 0.5rem;
}

.rate:not(:checked) > input {
  position: absolute;
  visibility: hidden;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: " \2605 ";
  padding-right: 2rem;
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
  transition: all 0.4s;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
  transition: all 0.4s;
}

.add {
  background-color: white;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 1rem 0;
  width: 50%;
  cursor: pointer;
  border: 1px solid var(--color-grey-dark-3);
  border-radius: 3px;
  transition: all 0.2s;
}
.add:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
  border: 1px solid #33c947;
}
.add:hover svg {
  fill: #33c947;
}
.add:active {
  background-color: var(--color-grey-dark-1);
  color: #33c947;
}
.add__text {
  padding: 0 1rem;
  padding-right: 2rem;
}
.add svg {
  height: 2.75rem;
  width: 2.75rem;
  fill: var(--color-grey-dark-3);
  padding-right: 1rem;
}

.remove {
  background-color: white;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 1rem 0;
  width: 50%;
  cursor: pointer;
  border: 1px solid var(--color-grey-dark-3);
  border-radius: 3px;
  transition: all 0.2s;
}
.remove:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
  border: 1px solid red;
}
.remove:hover svg {
  fill: red;
}
.remove:active {
  background-color: var(--color-grey-dark-1);
  color: red;
}
.remove__text {
  padding: 0 1rem;
  padding-right: 2rem;
}
.remove svg {
  height: 2.75rem;
  width: 2.75rem;
  fill: var(--color-grey-dark-3);
  padding-right: 1rem;
}

.content__search {
  min-height: calc(100vh - 27.5rem);
  grid-row: content-start / content-end;
  display: grid;
  grid-template-rows: max-content min-content max-content;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .content__search {
    column-gap: 1.5rem;
    padding: 0 0.5rem;
  }
}

.exit {
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.exit::before,
.exit::after {
  content: "";
  background-color: var(--color-grey-dark-3);
  height: 1px;
  width: 30%;
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .exit::before,
  .exit::after {
    width: 22%;
  }
}
@media only screen and (max-width: 31.25em) {
  .exit::before,
  .exit::after {
    width: 15%;
  }
}
.exit::before {
  margin-right: 3rem;
}
.exit::after {
  margin-left: 3rem;
}
.exit__text {
  padding-right: 2rem;
  align-self: center;
  font-size: 2rem;
  width: max-content;
}
.exit__btn {
  height: 3rem;
  width: 3rem;
  fill: var(--color-grey-dark-2);
  transition: all 0.2s;
  cursor: pointer;
  align-self: center;
}
@media only screen and (max-width: 43.75em) {
  .exit__btn {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.exit__btn:hover {
  fill: var(--color-primary);
  transform: translateY(-1px);
}
.exit__btn:active {
  fill: var(--color-primary-dark);
}
